<mat-toolbar color="primary">
  <span>Anime Series List</span>
  <span class="spacer"></span>
  
  <button mat-icon-button [matMenuTriggerFor]="menu" class="hide-desk">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu" >
    <button mat-menu-item [routerLink]="['/']">Entries</button>
    <button mat-menu-item [routerLink]="['/add']">Add Series</button>
  </mat-menu>
  <button mat-button [routerLink]="['/add']" class="example-icon hide-mobile" aria-label="Example icon-button with share icon">
    <mat-icon>add</mat-icon>
    Add Series
  </button>
  <button mat-button [routerLink]="['/']" class="example-icon hide-mobile" aria-label="Example icon-button with share icon" >
    <mat-icon>list</mat-icon>
    Series
  </button>
</mat-toolbar>

